body {
    background-color: black;
}

.drip-wrapper {
    filter: url('#goo');
    overflow: hidden;
    position: fixed;
    inset: 0;
}

.drip-top, .drip-bottom {
    height: 55px;
    background-color: white;
    position: absolute;
    width: 70%;
    border-radius: 40px;
    left: 15%;
}

.drip-bottom {
    bottom: 18px;
}

.drip-top {
    top: 18px;
}

.cdrip {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    top: 30px;
    position: absolute;
    left: calc(55% - 90px);
    animation: fall 3s cubic-bezier(0.55, 0.05, 0.05, 0.55) infinite;
}


@keyframes fall {
    0% {transform: translateY(); opacity: 0;};
    18% {transform: translateY(); opacity: 1;};
    85% {transform: translateY(calc(100vh - 110px)); opacity: 1;};
    100% {transform: translateY(calc(100vh - 90px)); opacity: 0;};
}